<h1 class="pagetitle">Welcome!</h1>
<br>

<form class="" action="/login" method="POST">
  <!--<label for="username">Username</label>-->
  <input type="text" name="username" placeholder="Username">
  <br>
  <!--<label for="username">Password</label>-->
  <input type="password" name="password" placeholder="Password">
  <br>
  <br>
  <input type="submit" class="button" value="Login">
</form>
<br>

<a href="/">Back</a>