<h1>Log In</h1>
<form class="" action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" value="">
  <br>
  <label for="username">Password:</label>
  <input type="password" name="password" value="">
  <input type="submit" value="Login">
</form>

<a href="/">Back</a>