<h2 class="pagetitle">Sign Up!</h2>

<form class="" action="/users" method="post">
  <!--<label for="name">Name</label>-->
  <input type="text" name="name" value="" placeholder="Name">
  <!--<label for="username">Username</label>-->
  <input type="text" name="username" value="" placeholder="Username">
  <!--<label for="password">Password</label>-->
  <input type="password" name="password" value="" placeholder="Password">
  <input type="submit" class="button" name="" value="Create User">
</form>
<br>
<a href="/">Back</a>