<h1 class="pagetitle">Places</h1>
<br>
<h3 class="subheading">Keep Track of Where You've Been and Where You Want to Be!</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="homelink"><a class="welcomelink" href="/login">Log In</a> | <a class="welcomelink" href="/signup">Sign Up</a></div>

