<h1 class="pagetitle">Places</h1>
<h3 class="subheading">A web app to keep track of your travel goals!</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<center><a class="welcomelink" href="/login">Log In</a> or <a class="welcomelink" href="/signup">Sign Up</a></center>

