All Places We've Been
<% @places.each do |place| %>
  <h4><a href="/places/<%= place.id %>"><%= @place.created_at %></a></h4>
  <p><%= @place.city_name %></p>
  <p>Added by <%= place.user.name %></p>
  <br><br>
  
<% end %>

<!--error in all places after creating new user-->