
<h2>Add a New Place</h2>

<form class="" action="/places" method="post">
  <label for="city_name">City:</label>
  <input type="text" name="city_name" value="">
  <input type="submit" name="" value="Add Place">
</form>